section{
    padding: 0;
    margin: auto;
}
#event-section{
    padding-top: 100px;
    height: 100vh;
    width: 100%;
    background: url("../images/background-events.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.display-container{
    margin: auto;
    width: 100%;
    height: 500px;
    justify-content: center;
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    padding-top:10px;
}
.container-img{   
    width: 888.89px;
    height: 100%;
    img{
        border-bottom-left-radius: 12px;
        border-top-left-radius: 12px;
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}
.container-text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px ;
    width:500px;
    height: 100%;
    background-color: rgba(0,0,0);
    p{
        width: 90%;
        color: white;
        font-family: 'Poppins';
    }
}
#slider-div{
    margin-top: 20px;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 180px;
}
#container-slide{ 
    overflow: hidden;
    height: 100%;
    margin: auto;
    width: 90%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.owl-pict{
    height: 100%;
    margin-right: 8px;
    img{
        height: 150px;
        width: 200px;
        border-radius: 10px;
        object-fit: cover;
    }
    img:hover{
        cursor: pointer;
        filter: grayscale(80%);
    }
    img:active{
        filter: grayscale(100%);
    }
}
//!------------------------------- FOR RESPONSIVE -------------------------
@media (max-width:575.98px) {
    #event-section{
        height: 112vh;
    }
    .display-container{
        flex-direction: column;
    }
    .container-img{
        width: 544px;
        margin: auto;
        img{
            border-radius:10px;
        }
    }
    .container-text{
        margin: auto;
        margin-top: -120px;
        background-color: rgba(0,0,0,0.6);
        width: 544px;
        height: 120px;
        border-radius: 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        position: relative;
        p{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 10pt;
        }
    }
    .owl-pict{
        img{
            height: 120px;
            width: 160px;
        }
    }
}
