footer{
    vertical-align: middle;
    width: 100%;
    background-color: #17181B;
    height: 220px;
    display: flex;
    margin-top: 0;
    img{
        max-width: 80px;
        margin-left: 15px;
    }
    h5{
        color: white;
        font-size: 14pt;
        padding-bottom: 8px;
    }
    p{
        color: white;
        font-size: 10pt;
    }
}
.list-contact{
    a{
        text-decoration: underline;
        color: white;
        font-size: 10pt;
        padding-bottom: 8px;
    }
    color: white;
    display: flex;
    flex-direction: column;
}
.list-about-us{
    a{
        padding-bottom: 8px;
        text-decoration: underline;
        font-size: 10pt;
        color: white;
        text-align: left;
    }
    display: flex;
    flex-direction: column;
}
//----------------------------------------- SHOULD VERTICAL ALLIGN --------------------------
.logo-hima-bot{
    margin-top: 75px;
}
.logo-cabinet-bot{
    margin-top: 60px;
    margin-right: 0;
    margin-left: 15px;
}
.contact{
    margin-top:35px;
    margin-left: 15px;
}
.about-us{
    margin-top: 35px;
    margin-right: auto;
    margin-left: 15px;
}
.info-bot{
    margin-top: 50px;
    margin-right: 15px;
    margin-left: auto;
    text-align: right;
}
//TODO--------------- FOR RESPONSIVE -------------------
@media (max-width:575.98px) {
    .list-about-us a, .list-contact a{
        font-size: 8pt;
    }
    footer{
        height: 180px;
        img{
            max-width: 60px;
        }
        h5{
            font-size: 12pt;
        }
        p{
            font-size: 8pt;
        }
    }
    .contact{
        h5{
            font-size: 11pt;
        }
        p{
            font-size:8pt;
        }
    }
    .about-us{
        h5{
            font-size: 11pt;
        }
        p{
            font-size: 8pt;
        }
    }
}