section.store-section{
    padding-top:130px; //distract by header
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    padding-left: 30px;
    padding-right: 30px;
}
a{
    text-decoration: none;
    color: black; 
}
//---------------------------------------------------- TOP CONTAINER ------------------------------------
.top-container{
    height: 13%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    border-bottom: 3px solid #E0E3EB;
}
.store-section{
    height: 800px;
    width: 100%;
}
.store-title{
    h3{
        font-family: 'Poppins';
        font-weight: bold;
        font-size: 32px;
    }
    width: 320px;
    display: flex;
    justify-content: flex-start;
}
.store-search{
    input{
        width: 600px;
        background-color: #E0E3EB;
        border: none;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        height: 40px;
        margin-right: 0;
        //right should 0 px
        float: left;
        padding-left:15px;
    }
    a{
        margin-left: 0;
        background-color:#E0E3EB ;
        height: 40px;
        width: 40px;
        border: none;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    :hover{
        background-color:#e6eaf6;
    }
    :active{
        background-color: #E0E3EB;
        border: none;
    }
}
.store-payment{
    span{
        font-size: 24px;
    }
    margin-right: 80px;
    margin-left: auto;
}
.btn-payment{
    height: 40px;
    width: auto;
}
//-------------------------------------------- CONTAINER --------------------------------------------
.container{
    position: relative;
    height: 97%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}
.item-bar{
    display: flex;
    a{ 
        text-align: left;
        font-size: 12pt;
        font-weight: bold;
        font-family: 'Poppins';
        margin-right: 10px;
    }
    :hover{
        color: black;
        border-bottom: 4px solid #e6eaf6;
    }
}
.item-container{
    position: absolute;
    margin-top: 32px;
    background-color: #e6eaf6;
    height: 70%;
    width: 100%;
    padding: 40px 30px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: flex-start;
    overflow-y: auto;
}
.item-div{
    width: 210px;
    height: 370px;
    margin: auto;
    margin-bottom: 50px;
    padding: 10px;
    border-radius: 8px;
    background-color: white;
}
.item-list{
    height: 100%;
    width: 100%;
    text-align: left;
    background-color: white;
    img{
        margin: auto;
        width: 100%;
        height: 280px;
        object-fit: cover;
    }
    p{
        font-weight: bold;
    }
    h6{
        float: left;
        font-size: 12pt;
    }
    button{
        font-size: 10pt;
        float: right;
        font-weight: bold;
        padding: 3px 8px;
        border: none;
        border-radius: 4px;
        outline: none;
        background-color:rgba(0,0,0,0.8);
        color:white;
        cursor: pointer;
    }
    button:hover{
        background-color: rgba(0,0,0,0.9);
    }
}
//--------------------------------------------- PAYMENT --------------------------------------
#payment-popup{
    background-color: rgba(0,0,0,0.8);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 19;
    display: none;
}
#payment-section{
    position: relative;
    padding: 20px;
    width: 70%;
    height: 530px; 
    background-color: white;
    margin: auto;
    text-align: left;
    p{
        font-family: 'Poppins';
        font-size:12pt;
    }
    h5{
        font-size: 20pt;
        font-family: 'Poppins';
        font-weight: bolder;
    }
    h6{
        margin-top: 45px;
        font-family: 'Poppins';
        font-size: 14pt;
        font-weight: bolder;
    }
    h4{
        font-family: 'Poppins';
        font-size: 12pt;
    }
}
.close-icon{
    position: relative;
    font-size: 20px; 
    span{
        position: absolute;
        color: black;
        top:0;
        right:0;
        font-size: 20px;
    }
    span:hover{
        cursor: pointer;
    }
}

#table-order{
    width: 100%;
    font-family: 'Poppins';
    font-size: 12pt;
}

.first-row{
    border-bottom: 1px solid black;
}

.total-row{
    border-top: 1px solid black;   
}
#total{
    font-weight: bold;
}
.payment-pop > *{
    width: 50%;
}
.payment-pop{
    height: 25px;
    display: flex;
    align-items: baseline;
    p{
        display: inline-block;
    }
    h4{
        display: inline-block;
    }
}
#table-confirm{
    text-align: left;
    width: 100%;
    height: 25px;
    font-size: 12pt;
    font-family: 'Poppins';
    select{
        width: 50%;
    }
}
.payment-method{
    width: 20%;
}
.done-payment{
    width: 250px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 30px;
    right: 25px;
    text-align: right;
    cursor: pointer;
    button{
        vertical-align: middle;
        font-weight: bold;
        background-color: black;
        color: white;
        height: 36px;
        width: 120px;
        border-radius: 20px;
        border: 2px solid black;
        &:hover{
            color: black;
            background-color: white;
        }
    }
}
.store-responsive{
    display: none;
}
//!-------------------------------- FOR RESPONSIVE --------------------------------
@media (max-width:575.98px) {
    section.store-section{
        padding-top: 110px;
    }
    .top-container{
        flex-wrap: wrap;
        height: auto;
        text-align: center;
    }
    .store-title{
        h3{
            padding: 0;
            font-size: 22pt;
        }
    }
    .store-search{
        width: 100%;
        margin-bottom: 30px;
        input{
            width:calc(100% - 40px);
        }
    }
    .store-payment{
        margin-left: auto;
        margin-right: 0;
        display: none;
    }
    .store-responsive{
        display: inline-block;
    }
    .container{
        padding-top: 20px;
    }
    .item-container{
        width: auto;
        height: 400px;
        padding: 20px 20px;
    }
    .item-div{
        margin-bottom: 20px;
    }
    // ---------------------- POP UP PAYMENT ----------------------
    #payment-popup{
        padding: 40px 30px 0px 30px;
    }
    #payment-section{
        width: auto;
        height: auto;
    }
    .done-payment{
        position: initial;
        margin: 15px 0 auto auto;
    }
}