<header>
    <input type="checkbox" id="checkbox-menu">
    <label for="checkbox-menu" class="menu-more">
        <span class="fas fa-bars"></span>
    </label>
    <div class="logo-top">
        <img src="frontend/images/LOGO-HIMASIKA.jpg">
    </div>
    <div class="menu-top">
        <ul> 
            <li><a href="./index.html#background-img">HOME</a></li>
            <li><a href="./index.html#departement-title">CABINET</a></li>
            <li><a href="./events.html">EVENTS</a></li>
            <li><a href="./publication.html">PUBLICATIONS</a></li>
            <li><a href="./store.html">STORE</a></li>
            <li class="responsive-visibility"><a href="#" onclick="getLogIn()">LOG IN</a></li>
        </ul>
    </div>
    <div class="login-top">
        <button onclick="getLogIn()">LOG IN</button>
    </div>
</header>