<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publication</title>
    <link rel="stylesheet" href="./frontend/libraries/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="./frontend/styles/header.css">
    <link rel="stylesheet" href="./frontend/styles/publication.css">
    <link rel="stylesheet" href="./frontend/styles/footer.css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <script src="./frontend/libraries/jquery/jquery-3.6.0.min.js"></script>
    <script src="./frontend/libraries/bootstrap/js/bootstrap.js"></script>
    <script src="https://kit.fontawesome.com/fc56662415.js" crossorigin="anonymous"></script>
    <script src="./frontend/scripts/all_script.js"></script>
    <!--? FOR OUL CAROUSEL-->
    <link rel="stylesheet" href="./frontend/styles/owl.carousel.min.css">
    <script src="./frontend/scripts/owl.carousel.min.js"></script>
    <script src="./frontend/scripts/owl-carousel-pub.js"></script>
    <!--?-------------------->
</head>
<body>
    <div id="header"></div>
    <div id="log-in"></div>
<!-- ------------------------------------- PUBLICATION SECTION ---------------------------------------->
    <section class="publication-section">
        <!--? Top Container ------------------------------------------>
        <div class="pub-top-container">
            <div>
                <h1>Publication</h1>
            </div>
            <button onclick="scrollWin(0,700)">
                <i class="fas fa-angle-double-down"></i>
            </button>
        </div>
        <!--? Container --------------------------------------------->
        <div class="pub-container">
            <h1>Karya Mahasiswa</h1>
            <div class="first-container">
                <div class="img-container">
                    <img src="./frontend/images/vector/creation.jpg">
                    <ul class="type-text">
                        <li><span>Karya Tulis</span></li>
                        <li><span>Video</span></li>
                        <li><span>Jurnal</span></li>
                        <li><span>Projek Sains</span></li>
                    </ul>
                    <h2><span id="type-text"></span></h2>
                </div>
                <div class="upload-container">
                    <h3>Creativity</h3>
                    <p>Let's submit your creativity here. You can submit videos, jurnal, poem, 
                        science project, etc.
                    </p>
                    <button>
                        <i class="fas fa-download"></i>
                        <p>Submit</p>
                    </button>
                </div>
            </div>
            <div class="second-container">
                <!--! --------------------Creation 1----------------------->
                <div class="creation creation-1">
                    <img src="./frontend/images/vector/book.jpg">
                    <div class="creation-bar">
                        <div class="creation-title">
                            <h3>Submitted</h3>
                        </div>
                        <div class="event-slide">
                            <div class="slider">
                                <div class="owl-carousel owl-1" id="publication-content"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="footer"></div>
    <script src="./frontend/scripts/content_publication.js"></script>
</body>
</html>