ul {
  list-style-type: none;
}

body {
  overflow: auto;
}

header {
  width: 100%;
  background-color: #17181B;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header img {
  height: 80px;
  margin-top: 10px;
  margin-left: 30px;
}

.logo-top {
  width: 150px;
  height: 100%;
}

.menu-top {
  margin-left: 180px;
  height: 100%;
  text-align: center;
}

.menu-top ul {
  height: 100px;
}

.menu-top li {
  width: 150px;
  position: relative;
  display: inline-block;
}

.menu-top li a {
  vertical-align: middle;
  height: 100%;
  width: 100%;
  padding-top: 41px;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  color: white;
}

.menu-top li :after {
  content: "";
  position: absolute;
  background-color: white;
  height: 0;
  width: 100%;
  left: 0;
  bottom: 0;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.menu-top li :hover {
  background-color: #232529;
}

.menu-top li :hover:after {
  height: 4px;
}

.menu-top ul li {
  height: 100px;
}

.login-top {
  position: absolute;
  right: 0;
  margin: auto 30px;
  width: 100px;
  height: 100%;
  padding-top: 30px;
}

.login-top button {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 14px;
  width: 100%;
  height: 40px;
  border: 1px solid #08D0FC;
  color: #08D0FC;
  background-color: transparent;
  border-radius: 8px;
}

.login-top button:hover {
  color: #17181B;
  background-color: #08D0FC;
  border: 1px solid #17181B;
}

#popup-login {
  background-color: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#login-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1000px;
  height: 580px;
  margin: auto;
}

.sign-in {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid #8299E9;
  padding: 60px;
  height: 100%;
  width: 50%;
  background-color: white;
  text-align: center;
}

.sign-in h3 {
  font-family: 'Poppins';
  font-size: 32pt;
  font-weight: bold;
}

.username, .password {
  display: inline-block;
  width: 70%;
}

.username p, .password p {
  text-align: left;
  line-height: 8px;
  margin-top: 30px;
  font-weight: bold;
}

.username input, .password input {
  padding-left: 4px;
  border-radius: 4px;
  border: 1px solid black;
  width: 100%;
}

.checkbox {
  display: inline-block;
  width: 70%;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  text-align: left;
  margin-bottom: 60px;
}

.checkbox input {
  float: left;
  margin-top: 2.5px;
}

.checkbox p {
  font-size: 9pt;
}

.sign-in-col button {
  font-weight: bold;
  padding-bottom: 4px;
  display: block;
  border-radius: 8px;
  color: white;
  background-color: black;
  width: 100px;
  height: 40px;
  margin: auto;
  margin-bottom: 10px;
  border: 1px solid black;
}

.sign-in-col button:hover {
  background-color: white;
  color: black;
}

.sign-in-col a {
  text-decoration: none;
  color: black;
}

.sign-in-col a:hover {
  text-decoration: underline;
}

.sign-up {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  text-align: center;
  padding: 60px;
  background-color: #8299E9;
  height: 100%;
  width: 50%;
}

.sign-up h2 {
  margin-top: 80px;
  color: white;
  font-weight: bold;
  font-family: 'Poppins';
  font-size: 40pt;
  letter-spacing: 1px;
}

.sign-up p {
  color: white;
  font-family: 'Poppins';
  font-size: 14pt;
}

.sign-up button {
  border: 2px solid white;
  font-weight: bold;
  padding-bottom: 4px;
  display: block;
  border-radius: 8px;
  color: white;
  background-color: #8299E9;
  width: 100px;
  height: 40px;
  margin: auto;
  margin-top: 117px;
}

.sign-up button:hover {
  background-color: white;
  color: #8299E9;
}

.close-icon {
  position: relative;
  font-size: 20px;
}

.close-icon span {
  position: absolute;
  color: black;
  top: -55px;
  right: -52px;
  font-size: 20px;
}

.close-icon span:hover {
  cursor: pointer;
}

.responsive-visibility {
  visibility: hidden;
}

.responsive-block {
  display: none;
}

.login-more {
  display: none;
}

#checkbox-menu {
  display: none;
}

#checkbox-menu :focus {
  background-color: red;
}

.menu-more {
  display: none;
  position: absolute;
  right: 20px;
  float: right;
  height: 100%;
  width: 40px;
  padding-top: 35px;
}

.menu-more span {
  color: white;
  font-size: 30px;
}

.menu-more span:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .responsive-visibility {
    visibility: visible;
  }
  .responsive-block {
    display: inline-block;
  }
  .login-top {
    display: none;
  }
  .menu-more {
    text-align: center;
    display: block;
    width: 80px;
  }
  .menu-top {
    width: 100%;
    display: block;
  }
  .menu-top ul {
    display: inline;
    position: fixed;
    top: 100px;
    width: 100%;
    height: 280px;
    left: 0;
    text-align: center;
  }
  .menu-top li {
    right: -800px;
    margin-left: -32px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    border-bottom: 2px solid #232529;
    background-color: #17181B;
  }
  .menu-top li a {
    padding-top: 8px;
  }
  .menu-top ul li {
    display: block;
    width: 105%;
    height: 40px;
  }
  #background-img {
    display: none;
  }
  #cabinet-section {
    display: none;
  }
  #checkbox-menu:checked ~ .menu-top li {
    right: 0;
  }
  #login-section {
    width: 500px;
  }
  .sign-up {
    display: none;
  }
  .sign-in {
    width: 100%;
    border-radius: 10px;
  }
}
/*# sourceMappingURL=header.css.map */