html{
    scroll-behavior: smooth;
}
#background-img{
    background-image: url("../images/background-home.jpg");
    background-position: center;
    background-size:cover;
    width: 100%;
    padding-top: calc(var(--header-height) + 40px); //based on navbar/header height
    padding-bottom: 80px;
}
.logo-container{
    width: 40%;
}
.text-container{
    background-color:rgba(0,0,0,0.8);
    width: 55%;
    h2{
        background-color: #E47321;
        background-image: linear-gradient(0deg, #E47321, #daab7f);
        background-size: 100%;
        background-clip: border-box;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent;
        font-family: sans-serif;
        letter-spacing: 1px;
        font-size: 26pt;
        line-height: 38px;
    }
    p{
        color: white;
        padding-top: 25px;
    }
    //for slider
    overflow: hidden;
}
.slides{
    width: 500%;
    input{
        display: none;
    }
}
.slide-home{
    padding: 40px 40px;
    width: 20%;
    transition: 1.5s;
}
.background-logo{
    background-color:rgba(23,165,143,0.9);
    width: 450px;
    height: 600px;
    img{
        max-height: 55%;
        margin-top: 30px;
    }
    h2{
        font-size: 32pt;
        font-family: sans-serif;
        color: rgba(242,160,23);
    }
}
.navigation-manual{
    width: 100%; //same to text container
    height: 30px; //400px - text container's height
    margin-top:-30px;
}
.manual-btn{
    background-color: white;
    //circle button ----------
    height: 12px;
    width: 12px;
    margin-right: 15px;
    //------------------------
    border-radius: 10px;
    cursor: pointer;
}
.cabinet-title{
    padding-top: 30px;
}
.cabinet-name{
    padding-top: 70px;
}
//--------------------------------- ---- FOR MANUAL SLIDE BUTTON -----------------------------------------
#slide-1-home:checked{
    ~.first{
        margin-left: 0;
    }
    ~.auto-btn1{
        background: rgb(0,0,0);
    }
    ~.btn1{
        background: rgb(0,0,0);
    }
}
#slide-2-home:checked{
    ~.first{
        margin-left: -20%;
    }
    ~.auto-btn2{
        background: rgb(0,0,0);
    }
    ~.btn2{
        background: black;
    }
}
#slide-3-home:checked{
    ~.first{
        margin-left: -40%;
    }
    ~.auto-btn3{
        background: rgb(0,0,0);
    }
    ~.btn3{
        background-color: black;
    }
}
//----------------------------------------- FOR AUTO SLIDE ----------------------------------------------
.navigation-auto{
    left: 40%;
    width: 20%;
    margin-top:-30px; 
    div{
        background-color: white;
        //----- same as manual btn
        border-radius: 10px;
        height: 12px;
        width: 12px;
        margin-right: 15px;
        transition: 0.5s;
    }
}
//!--------------------------------- FOR RESPONSIVE -----------------------------------------------------
@media (max-width:575.98px){
    #background-img{
        padding-top: 20px;
        flex-direction:column-reverse;
    }
    .logo-container{
        width: 100%;
    }
    .background-logo{
        margin-top: 100px;
        img{
            max-width: 58%;
            margin-top: 30px;
        }
        h2{
            font-size: 30pt;
        }
    }
    .text-container{
        margin-top: 80px; //jarak dari atas
        width: 100%;
        h2{
            font-size: 22pt;
        }
        p{
            font-size: 11pt;
        }
        //for slider
        overflow: hidden;
    }
}