section {
  padding-top: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: black;
}

html {
  scroll-behavior: smooth;
}

button {
  outline: none;
  border: none;
}

.publication-section {
  height: 2800px;
}

.pub-top-container {
  width: 100%;
  height: 700px;
  background-image: url("../images/background-publication.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 70px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 4px solid #1c1ca1;
}

.pub-top-container div {
  position: absolute;
  left: 20%;
  top: 315px;
  width: 60%;
  height: 70px;
  background-color: #1c1ca1;
  border-radius: 60px;
}

.pub-top-container h1 {
  padding-top: 10px;
  font-size: 40px;
  font-family: 'Poppins';
  font-weight: bold;
  color: white;
}

.pub-top-container button {
  background: none;
  position: absolute;
  bottom: 36%;
  right: 48.7%;
  font-size: 38px;
  outline: none;
  border: none;
  color: #1c1ca1;
  -webkit-animation: move 1.2s infinite ease-in-out;
          animation: move 1.2s infinite ease-in-out;
}

@-webkit-keyframes move {
  0% {
    bottom: 36%;
  }
  50% {
    bottom: 34%;
  }
  100% {
    bottom: 36%;
  }
}

@keyframes move {
  0% {
    bottom: 36%;
  }
  50% {
    bottom: 34%;
  }
  100% {
    bottom: 36%;
  }
}

.pub-container {
  height: 1000px;
  width: 100%;
}

.pub-container h1 {
  width: 100%;
  margin-top: 80px;
  margin-bottom: 40px;
  font-size: 40px;
  font-family: 'Poppins';
  font-weight: bold;
}

.first-container {
  height: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.img-container {
  margin-left: 50px;
  width: 30%;
}

.img-container img {
  max-width: 80%;
}

.img-container ul, .img-container li {
  margin-top: 10px;
  color: #1c1ca1;
  font-size: 30px;
  font-family: 'Poppins';
  font-weight: bold;
  line-height: 52px;
}

.upload-container {
  padding-top: 50px;
  margin-left: 80px;
  width: 50%;
  text-align: left;
}

.upload-container h3 {
  color: #1c1ca1;
  font-size: 34px;
  font-family: 'Poppins';
  font-weight: bold;
}

.upload-container p {
  font-size: 16pt;
}

.upload-container button {
  margin-top: 45px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 45px;
  width: 180px;
  background-color: #1c1ca1;
  color: white;
  border-radius: 20px;
  position: relative;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
  -webkit-box-shadow: inset 0 0 0 0 white;
          box-shadow: inset 0 0 0 0 white;
}

.upload-container button :not(p) {
  padding-left: 14px;
  padding-top: 7px;
  font-size: 24px;
}

.upload-container button p {
  font-family: 'Poppins';
  font-weight: bold;
  margin-left: 16px;
  padding-top: 5px;
  font-size: 21px;
}

.upload-container button:hover {
  outline: 1px solid #1c1ca1;
  -webkit-box-shadow: inset 180px 0 0 0 white;
          box-shadow: inset 180px 0 0 0 white;
  color: #1c1ca1;
}

.second-container {
  padding-top: 140px;
  height: 1600px;
  background-image: url("../images/blue-publication.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.creation-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.creation {
  margin-bottom: 200px;
}

.creation-1 img {
  float: right;
  margin-top: -280px;
  width: 20%;
}

.creation-1 .creation-title {
  padding-top: 115px;
  padding-right: 70px;
  width: 32%;
  text-align: right;
}

.creation-1 .creation-title h3 {
  line-height: 10px;
  margin-left: 100px;
  color: #1c1ca1;
  font-size: 30px;
  font-family: 'Poppins';
  font-weight: bold;
}

.creation-1 .event-slide {
  border-left: 4px solid #1c1ca1;
  width: 68%;
  height: 230px;
}

.creation-2 .creation-title {
  padding-top: 115px;
  padding-right: 70px;
  width: 23%;
  text-align: left;
}

.creation-2 h3 {
  line-height: 10px;
  margin-left: 100px;
  color: #1c1ca1;
  font-size: 30px;
  font-family: 'Poppins';
  font-weight: bold;
}

.creation-2 .event-slide {
  border-right: 4px solid #1c1ca1;
  width: 77%;
  height: 230px;
}

.img-container .type-text {
  text-align: left;
  padding-left: 100px;
  height: 52px;
  line-height: 52px;
  overflow: hidden;
}

.type-text li {
  margin: 0;
  padding: 0;
  top: 0;
  position: relative;
  -webkit-animation: slide 10s steps(4) infinite;
          animation: slide 10s steps(4) infinite;
}

.type-text li span {
  position: relative;
}

.type-text li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 48px;
  width: 130%;
  background: white;
  border-left: 2px solid black;
  -webkit-animation: typing 2.5s infinite;
          animation: typing 2.5s infinite;
}

@-webkit-keyframes typing {
  50% {
    left: 100%;
    margin: 0 -5px 0 5px;
  }
  70% {
    left: 100%;
    margin: 0 -5px 0 5px;
  }
  100% {
    left: 0;
    margin: 0 5px 0 -5px;
  }
}

@keyframes typing {
  50% {
    left: 100%;
    margin: 0 -5px 0 5px;
  }
  70% {
    left: 100%;
    margin: 0 -5px 0 5px;
  }
  100% {
    left: 0;
    margin: 0 5px 0 -5px;
  }
}

@-webkit-keyframes slide {
  100% {
    top: -208px;
  }
}

@keyframes slide {
  100% {
    top: -208px;
  }
}

.slider {
  position: relative;
}

.slider-card {
  width: 150px;
  text-align: center;
  background-color: none;
  border-radius: 5px;
  margin: 4px;
}

.slider-card img {
  text-align: center;
  max-width: 150px;
  height: 200px;
  margin: auto;
}

.slider-card h5 {
  font-size: 14pt;
}

.slider .owl-item.active.center .slider-card {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}
/*# sourceMappingURL=publication.css.map */